In [1]:
# Reading Dataset
import numpy as np
import pandas as pd

# Visualization
import plotly.express as px
from plotly.offline import init_notebook_mode, iplot
init_notebook_mode(connected=True)

from datetime import datetime

# Reading Dataset

In [2]:
# Start spark session
from pyspark.sql import SparkSession

spark = SparkSession.builder.config("spark.driver.memory", "10g").getOrCreate()

24/07/25 12:15:24 WARN Utils: Your hostname, ubuntu20 resolves to a loopback address: 127.0.1.1; using 192.168.0.234 instead (on interface wlp0s20f3)
24/07/25 12:15:24 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/25 12:15:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
# Load anime dataset
from pyspark.sql.types import StructType, StructField, IntegerType, FloatType, StringType

schema = StructType([
    StructField("anime_id", IntegerType(), True),
    StructField("Name", StringType(), True),
    StructField("English name", StringType(), True),
    StructField("Other name", StringType(), True),
    StructField("Score", FloatType(), True),
    StructField("Genres", StringType(), True),
    StructField("Synopsis", StringType(), True),
    StructField("Type", StringType(), True),
    StructField("Episodes", FloatType(), True),
    StructField("Aired", StringType(), True),
    StructField("Premiered", StringType(), True),
    StructField("Status", StringType(), True),
    StructField("Producers", StringType(), True),
    StructField("Licensors", StringType(), True),
    StructField("Studios", StringType(), True),
    StructField("Source", StringType(), True),
    StructField("Duration", StringType(), True),
    StructField("Rating", StringType(), True),
    StructField("Rank", FloatType(), True),
    StructField("Popularity", IntegerType(), True),
    StructField("Favorites", IntegerType(), True),
    StructField("Scored By", FloatType(), True),
    StructField("Members", FloatType(), True),
    StructField("Image URL", StringType(), True),
])

df_anime = spark.read.csv('../dataset/myanimelist-dataset/anime-dataset-2023.csv', header=True, schema=schema, multiLine=True, quote='\"', escape='\"')

In [4]:
df_anime.printSchema()

root
 |-- anime_id: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- English name: string (nullable = true)
 |-- Other name: string (nullable = true)
 |-- Score: float (nullable = true)
 |-- Genres: string (nullable = true)
 |-- Synopsis: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Episodes: float (nullable = true)
 |-- Aired: string (nullable = true)
 |-- Premiered: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Producers: string (nullable = true)
 |-- Licensors: string (nullable = true)
 |-- Studios: string (nullable = true)
 |-- Source: string (nullable = true)
 |-- Duration: string (nullable = true)
 |-- Rating: string (nullable = true)
 |-- Rank: float (nullable = true)
 |-- Popularity: integer (nullable = true)
 |-- Favorites: integer (nullable = true)
 |-- Scored By: float (nullable = true)
 |-- Members: float (nullable = true)
 |-- Image URL: string (nullable = true)

In [5]:
print("Shape of the Anime dataset:", df_anime.count(), len(df_anime.columns))
df_anime.show()

Shape of the Anime dataset: 24905 24
+--------+--------------------+--------------------+------------------------------+-----+--------------------+--------------------+-----+--------+--------------------+-----------+----------------+--------------------+--------------------+----------------+-----------+-------------+--------------------+------+----------+---------+---------+---------+--------------------+
|anime_id|                Name|        English name|                    Other name|Score|              Genres|            Synopsis| Type|Episodes|               Aired|  Premiered|          Status|           Producers|           Licensors|         Studios|     Source|     Duration|              Rating|  Rank|Popularity|Favorites|Scored By|  Members|           Image URL|
+--------+--------------------+--------------------+------------------------------+-----+--------------------+--------------------+-----+--------+--------------------+-----------+----------------+--------------------+--------------------+----------------+-----------+-------------+--------------------+------+----------+---------+---------+---------+--------------------+
|       1|        Cowboy Bebop|        Cowboy Bebop|            カウボーイビバップ| 8.75|Action, Award Win...|Crime is timeless...|   TV|    26.0|Apr 3, 1998 to Ap...|spring 1998| Finished Airing|       Bandai Visual|Funimation, Banda...|         Sunrise|   Original|24 min per ep|R - 17+ (violence...|  41.0|        43|    78525| 914193.0|1771505.0|https://cdn.myani...|
|       5|Cowboy Bebop: Ten...|Cowboy Bebop: The...|   カウボーイビバップ 天国の扉| 8.38|      Action, Sci-Fi|Another day, anot...|Movie|     1.0|         Sep 1, 2001|    UNKNOWN| Finished Airing|Sunrise, Bandai V...|Sony Pictures Ent...|           Bones|   Original|  1 hr 55 min|R - 17+ (violence...| 189.0|       602|     1448| 206248.0| 360978.0|https://cdn.myani...|
|       6|              Trigun|              Trigun|                    トライガン| 8.22|Action, Adventure...|Vash the Stampede...|   TV|    26.0|Apr 1, 1998 to Se...|spring 1998| Finished Airing|Victor Entertainment|Funimation, Geneo...|        Madhouse|      Manga|24 min per ep|PG-13 - Teens 13 ...| 328.0|       246|    15035| 356739.0| 727252.0|https://cdn.myani...|
|       7|  Witch Hunter Robin|  Witch Hunter Robin|          Witch Hunter ROBI...| 7.25|Action, Drama, My...|Robin Sena is a p...|   TV|    26.0|Jul 3, 2002 to De...|summer 2002| Finished Airing|Bandai Visual, De...|Funimation, Banda...|         Sunrise|   Original|25 min per ep|PG-13 - Teens 13 ...|2764.0|      1795|      613|  42829.0| 111931.0|https://cdn.myani...|
|       8|      Bouken Ou Beet|Beet the Vandel B...|                  冒険王ビィト| 6.94|Adventure, Fantas...|It is the dark ce...|   TV|    52.0|Sep 30, 2004 to S...|  fall 2004| Finished Airing|    TV Tokyo, Dentsu|Illumitoon Entert...|  Toei Animation|      Manga|23 min per ep|       PG - Children|4240.0|      5126|       14|   6413.0|  15001.0|https://cdn.myani...|
|      15|        Eyeshield 21|             UNKNOWN|                アイシールド21| 7.92|              Sports|Shy, reserved, an...|   TV|   145.0|Apr 6, 2005 to Ma...|spring 2005| Finished Airing|TV Tokyo, Nihon A...|VIZ Media, Sentai...|          Gallop|      Manga|23 min per ep|PG-13 - Teens 13 ...| 688.0|      1252|     1997|  86524.0| 177688.0|https://cdn.myani...|
|      16|Hachimitsu to Clover|    Honey and Clover|          ハチミツとクローバー|  8.0|Comedy, Drama, Ro...|Yuuta Takemoto, a...|   TV|    24.0|Apr 15, 2005 to S...|spring 2005| Finished Airing|Dentsu, Genco, Fu...|VIZ Media, Discot...|       J.C.Staff|      Manga|23 min per ep|PG-13 - Teens 13 ...| 589.0|       862|     4136|  81747.0| 260166.0|https://cdn.myani...|
|      17|Hungry Heart: Wil...|             UNKNOWN|  ハングリーハート Wild Str...| 7.55|Comedy, Slice of ...|As the younger br...|   TV|    52.0|Sep 11, 2002 to S...|  fall 2002| Finished Airing|             UNKNOWN|             UNKNOWN|Nippon Animation|      Manga|23 min per ep|PG-13 - Teens 13 ...|1551.0|      4212|      237|  12960.0|  24172.0|https://cdn.myani...|
|      18|Initial D Fourth ...|             UNKNOWN|頭文字〈イニシャル〉D FOURT...| 8.16|       Action, Drama|Takumi Fujiwara f...|   TV|    24.0|Apr 17, 2004 to F...|spring 2004| Finished Airing|OB Planning, Stud...|          Funimation|        A.C.G.T.|      Manga|27 min per ep|PG-13 - Teens 13 ...| 393.0|      1273|     1237|  97878.0| 173710.0|https://cdn.myani...|
|      19|             Monster|             Monster|                    モンスター| 8.87|Drama, Mystery, S...|Dr. Kenzou Tenma,...|   TV|    74.0|Apr 7, 2004 to Se...|spring 2004| Finished Airing|VAP, Shogakukan-S...|           VIZ Media|        Madhouse|      Manga|24 min per ep|    R+ - Mild Nudity|  26.0|       142|    47235| 368569.0|1013100.0|https://cdn.myani...|
|      20|              Naruto|              Naruto|                        ナルト| 7.99|Action, Adventure...|Moments prior to ...|   TV|   220.0|Oct 3, 2002 to Fe...|  fall 2002| Finished Airing|TV Tokyo, Aniplex...|           VIZ Media|         Pierrot|      Manga|23 min per ep|PG-13 - Teens 13 ...| 599.0|         8|    76343|1883772.0|2717330.0|https://cdn.myani...|
|      21|           One Piece|           One Piece|                     ONE PIECE| 8.69|Action, Adventure...|Gol D. Roger was ...|   TV|    NULL|   Oct 20, 1999 to ?|  fall 1999|Currently Airing|Fuji TV, TAP, Shu...|Funimation, 4Kids...|  Toei Animation|      Manga|       24 min|PG-13 - Teens 13 ...|  55.0|        20|   198986|1226493.0|2168904.0|https://cdn.myani...|
|      22| Tennis no Ouji-sama|The Prince of Tennis|                テニスの王子様| 7.86|              Sports|At the request of...|   TV|   178.0|Oct 10, 2001 to M...|  fall 2001| Finished Airing|Production I.G, N...|Funimation, VIZ M...|      Trans Arts|      Manga|22 min per ep|PG-13 - Teens 13 ...| 805.0|      1246|     3004|  81992.0| 178273.0|https://cdn.myani...|
|      23|    Ring ni Kakero 1|             UNKNOWN|              リングにかけろ１| 6.39|      Action, Sports|In order to fulfi...|   TV|    12.0|Oct 6, 2004 to De...|  fall 2004| Finished Airing|             UNKNOWN|             UNKNOWN|  Toei Animation|      Manga|25 min per ep|       PG - Children|6943.0|      8288|        6|   1378.0|   4581.0|https://cdn.myani...|
|      24|       School Rumble|       School Rumble|              スクールランブル| 7.89|     Comedy, Romance|Just the words "I...|   TV|    26.0|Oct 5, 2004 to Ma...|  fall 2004| Finished Airing|TV Tokyo, Sotsu, ...|          Funimation|    Studio Comet|      Manga|23 min per ep|PG-13 - Teens 13 ...| 756.0|       687|     5139| 146597.0| 320203.0|https://cdn.myani...|
|      25|           Sunabouzu|         Desert Punk|                      砂ぼうず| 7.38|Action, Adventure...|The Great Kanto D...|   TV|    24.0|Oct 6, 2004 to Ma...|  fall 2004| Finished Airing|GDH, Pony Canyon,...|          Funimation|           Gonzo|      Manga|24 min per ep|R - 17+ (violence...|2167.0|      1546|      822|  53709.0| 134894.0|https://cdn.myani...|
|      26|          Texhnolyze|          Texhnolyze|                    TEXHNOLYZE| 7.76|Action, Drama, Sc...|In the dark under...|   TV|    22.0|Apr 17, 2003 to S...|spring 2003| Finished Airing|Group TAC, Rondo ...|Funimation, Geneo...|        Madhouse|   Original|23 min per ep|    R+ - Mild Nudity| 990.0|       935|     4786|  54857.0| 239423.0|https://cdn.myani...|
|      27|       Trinity Blood|       Trinity Blood|          トリニティ・ブラッド| 7.29|Action, Supernatural|Following Armaged...|   TV|    24.0|Apr 29, 2005 to O...|spring 2005| Finished Airing|             UNKNOWN|          Funimation|           Gonzo|Light novel|24 min per ep|R - 17+ (violence...|2591.0|      1233|     1298|  79130.0| 179583.0|https://cdn.myani...|
|      28|    Yakitate!! Japan|    Yakitate!! Japan|           焼きたて!! ジャぱん| 7.91|     Comedy, Gourmet|While countries s...|   TV|    69.0|Oct 12, 2004 to M...|  fall 2004| Finished Airing|TV Tokyo, Aniplex...|Nozomi Entertainment|         Sunrise|      Manga|24 min per ep|PG-13 - Teens 13 ...| 704.0|      1992|      897|  40492.0|  95380.0|https://cdn.myani...|
|      29|              Zipang|             UNKNOWN|                      ジパング| 7.48|Action, Drama, Sc...|Mirai, an improve...|   TV|    26.0|Oct 8, 2004 to Ap...|  fall 2004| Finished Airing|      Marvelous, TBS|Geneon Entertainm...|     Studio Deen|      Manga|24 min per ep|PG-13 - Teens 13 ...|1778.0|      4430|      180|   7273.0|  21391.0|https://cdn.myani...|
+--------+--------------------+--------------------+------------------------------+-----+--------------------+--------------------+-----+--------+--------------------+-----------+----------------+--------------------+--------------------+----------------+-----------+-------------+--------------------+------+----------+---------+---------+---------+--------------------+
only showing top 20 rows

In [6]:
# Importing user details dataset
schema = StructType([
    StructField("Mal ID", IntegerType(), True),
    StructField("Username", StringType(), True),
    StructField("Gender", StringType(), True),
    StructField("Birthday", StringType(), True),
    StructField("Location", StringType(), True),
    StructField("Joined", StringType(), True),
    StructField("Days Watched", FloatType(), True),
    StructField("Mean Score", FloatType(), True),
    StructField("Watching", FloatType(), True),
    StructField("Completed", FloatType(), True),
    StructField("On Hold", FloatType(), True),
    StructField("Dropped", FloatType(), True),
    StructField("Plan to Watch", FloatType(), True),
    StructField("Total Entries", FloatType(), True),
    StructField("Rewatched", FloatType(), True),
    StructField("Episodes Watched", FloatType(), True)
])

df_user = spark.read.csv("../dataset/myanimelist-dataset/users-details-2023.csv", header=True, schema=schema)

In [7]:
print("Shape of the User dataset:", df_user.count(), len(df_user.columns))
df_user.show()

Shape of the User dataset: 731290 16
+------+---------------+------+--------------------+--------------------+--------------------+------------+----------+--------+---------+-------+-------+-------------+-------------+---------+----------------+
|Mal ID|       Username|Gender|            Birthday|            Location|              Joined|Days Watched|Mean Score|Watching|Completed|On Hold|Dropped|Plan to Watch|Total Entries|Rewatched|Episodes Watched|
+------+---------------+------+--------------------+--------------------+--------------------+------------+----------+--------+---------+-------+-------+-------------+-------------+---------+----------------+
|     1|          Xinil|  Male|1985-03-04T00:00:...|          California|2004-11-05T00:00:...|       142.3|      7.37|     1.0|    233.0|    8.0|   93.0|         64.0|        399.0|     60.0|          8458.0|
|     3|        Aokaado|  Male|                NULL|        Oslo, Norway|2004-11-11T00:00:...|        68.6|      7.34|    23.0|    137.0|   99.0|   44.0|         40.0|        343.0|     15.0|          4072.0|
|     4|        Crystal|Female|                NULL|Melbourne, Australia|2004-11-13T00:00:...|       212.8|      6.68|    16.0|    636.0|  303.0|    0.0|         45.0|       1000.0|     10.0|         12781.0|
|     9|         Arcane|  NULL|                NULL|                NULL|2004-12-05T00:00:...|        30.0|      7.71|     5.0|     54.0|    4.0|    3.0|          0.0|         66.0|      0.0|          1817.0|
|    18|            Mad|  NULL|                NULL|                NULL|2005-01-03T00:00:...|        52.0|      6.27|     1.0|    114.0|   10.0|    5.0|         23.0|        153.0|     42.0|          3038.0|
|    20|         vondur|  Male|1988-01-25T00:00:...|      Bergen, Norway|2005-01-05T00:00:...|        73.1|      8.06|    11.0|     94.0|   11.0|    2.0|         20.0|        138.0|      7.0|          4374.0|
|    23|          Amuro|  NULL|1988-02-22T00:00:...|              Canada|2005-01-23T00:00:...|       142.5|      7.41|    20.0|    298.0|    5.0|   19.0|         50.0|        392.0|      0.0|          8565.0|
|    36|          Baman|  Male|                NULL|Land of Rain and ...|2005-02-05T00:00:...|       272.1|       5.9|    27.0|   1144.0|   11.0|   55.0|        338.0|       1575.0|     36.0|         16309.0|
|    44|         beddan|  Male|                NULL|                NULL|2005-02-21T00:00:...|        18.6|       7.6|     0.0|     37.0|    0.0|    0.0|          0.0|         37.0|      0.0|          1083.0|
|    47|      kei-clone|  Male|                NULL|31f288172a11dea9f...|2005-03-09T00:00:...|        34.5|      6.84|    15.0|    104.0|   22.0|    3.0|         19.0|        163.0|      1.0|          2054.0|
|    53|     Ladholyman|  NULL|                NULL|                NULL|2005-03-19T00:00:...|        11.5|      9.24|     0.0|     51.0|    0.0|    0.0|          0.0|         51.0|      0.0|           693.0|
|    66|         Hiromi|  Male|1990-02-09T00:00:...|         Calgary, AB|2005-04-01T00:00:...|        70.6|      7.53|    34.0|    148.0|   13.0|    6.0|         10.0|        211.0|     50.0|          4117.0|
|    70|         Cruzle|  Male|1983-11-09T00:00:...|                NULL|2005-04-14T00:00:...|        78.0|      7.18|    30.0|    135.0|    9.0|    8.0|         22.0|        204.0|     15.0|          4694.0|
|    71|          Smoka|  NULL|                NULL|                NULL|2005-04-21T00:00:...|        22.9|      8.01|     2.0|     67.0|   11.0|    0.0|          0.0|         80.0|      0.0|          1295.0|
|    77|            Emp|Female|                NULL|                NULL|2005-04-26T00:00:...|        67.5|      6.38|    13.0|    297.0|    0.0|    0.0|          2.0|        312.0|      0.0|          3955.0|
|    80|      koalatees|  NULL|1991-10-24T00:00:...|                NULL|2005-04-27T00:00:...|        12.2|       7.1|     4.0|     31.0|    0.0|   41.0|          0.0|         76.0|      0.0|           744.0|
|    82|         Achtor|  Male|1989-06-10T00:00:...|       Paris, France|2005-04-29T00:00:...|        47.0|      7.17|     6.0|    153.0|   36.0|   20.0|        101.0|        316.0|      0.0|          2922.0|
|    83|         jaames|  Male|                NULL| Seattle, Washington|2005-04-30T00:00:...|        12.5|      8.71|     3.0|     16.0|    0.0|    0.0|          0.0|         19.0|      0.0|           745.0|
|    90|           xich|Female|                NULL|                NULL|2005-05-10T00:00:...|        58.8|      8.29|     2.0|    122.0|    7.0|   53.0|          9.0|        193.0|      5.0|          3557.0|
|    91|marvin_9martian|Female|                NULL|              Canada|2005-05-10T00:00:...|        36.4|      6.66|     4.0|     57.0|    4.0|   31.0|         29.0|        125.0|      1.0|          2187.0|
+------+---------------+------+--------------------+--------------------+--------------------+------------+----------+--------+---------+-------+-------+-------------+-------------+---------+----------------+
only showing top 20 rows

In [8]:
# Importing user score dataset
schema = StructType([
    StructField("user_id", IntegerType(), True),
    StructField("Username", StringType(), True),
    StructField("anime_id", IntegerType(), True),
    StructField("Anime Title", StringType(), True),
    StructField("rating", IntegerType(), True)
])

df_score = spark.read.csv("../dataset/myanimelist-dataset/users-score-2023.csv", header=True, schema=schema)

In [9]:
print("Shape of the Score dataset:", df_score.count(), len(df_score.columns))
df_score.show()

Shape of the Score dataset: 24325191 5
+-------+--------+--------+--------------------+------+
|user_id|Username|anime_id|         Anime Title|rating|
+-------+--------+--------+--------------------+------+
|      1|   Xinil|      21|           One Piece|     9|
|      1|   Xinil|      48|         .hack//Sign|     7|
|      1|   Xinil|     320|              A Kite|     5|
|      1|   Xinil|      49|    Aa! Megami-sama!|     8|
|      1|   Xinil|     304|Aa! Megami-sama! ...|     8|
|      1|   Xinil|     306|Abenobashi Mahou☆...|     8|
|      1|   Xinil|      53|       Ai Yori Aoshi|     7|
|      1|   Xinil|      47|               Akira|     5|
|      1|   Xinil|     591|      Amaenaide yo!!|     6|
|      1|   Xinil|      54|   Appleseed (Movie)|     7|
|      1|   Xinil|      55|         Arc the Lad|     5|
|      1|   Xinil|      56|             Avenger|     6|
|      1|   Xinil|      57|                Beck|     9|
|      1|   Xinil|     368|         Bible Black|     5|
|      1|   Xinil|      68|      Black Cat (TV)|     7|
|      1|   Xinil|     889|        Black Lagoon|     9|
|      1|   Xinil|    1519|Black Lagoon: The...|     7|
|      1|   Xinil|      58|         Blue Gender|     8|
|      1|   Xinil|    1222|       Bokura ga Ita|     7|
|      1|   Xinil|     458|       Buttobi!! CPU|     4|
+-------+--------+--------+--------------------+------+
only showing top 20 rows

# Data Exploration

## Anime Dataset

In [10]:
df_anime.toPandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24905 entries, 0 to 24904
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   anime_id      24905 non-null  int32
 1   Name          24905 non-null  object
 2   English name  24905 non-null  object
 3   Other name    24905 non-null  object
 4   Score         15692 non-null  float32
 5   Genres        24905 non-null  object
 6   Synopsis      24905 non-null  object
 7   Type          24905 non-null  object
 8   Episodes      24294 non-null  float32
 9   Aired         24905 non-null  object
 10  Premiered     24905 non-null  object
 11  Status        24905 non-null  object
 12  Producers     24905 non-null  object
 13  Licensors     24905 non-null  object
 14  Studios       24905 non-null  object
 15  Source        24905 non-null  object
 16  Duration      24905 non-null  object
 17  Rating        24905 non-null  object
 18  Rank          20293 non-null  float32
 19  Popularity    24905 non-null  int32
 20  Favorites     24905 non-null  int32
 21  Scored By     15692 non-null  float32
 22  Members       24905 non-null  float32
 23  Image URL     24905 non-null  object
dtypes: float32(5), int32(3), object(16)
memory usage: 3.8+ MB

In [11]:
from pyspark.sql import functions as F

df_anime.select('Score').dropna().count()

15692

In [12]:
df_anime.describe('Score').show()

+-------+------------------+
|summary|             Score|
+-------+------------------+
|  count|             15692|
|   mean|6.3808896258462005|
| stddev|0.9286960614060261|
|    min|              1.85|
|    max|               9.1|
+-------+------------------+

In [13]:
average_score = df_anime.agg(F.round(F.mean(F.col('Score')), 2).alias('Avg_Score')).first().Avg_Score
average_score

6.38

In [14]:
df_anime = df_anime.fillna({'Score': average_score})

In [15]:
df_anime.describe('Score').show()

+-------+------------------+
|summary|             Score|
+-------+------------------+
|  count|             24905|
|   mean|6.3805605727011745|
| stddev|0.7371645377844217|
|    min|              1.85|
|    max|               9.1|
+-------+------------------+

In [16]:
dict_null = { col : df_anime.filter(df_anime[col].isNull()).count() for col in df_anime.columns }
dict_null

{'anime_id': 0,
 'Name': 0,
 'English name': 0,
 'Other name': 0,
 'Score': 0,
 'Genres': 0,
 'Synopsis': 0,
 'Type': 0,
 'Episodes': 611,
 'Aired': 0,
 'Premiered': 0,
 'Status': 0,
 'Producers': 0,
 'Licensors': 0,
 'Studios': 0,
 'Source': 0,
 'Duration': 0,
 'Rating': 0,
 'Rank': 4612,
 'Popularity': 0,
 'Favorites': 0,
 'Scored By': 9213,
 'Members': 0,
 'Image URL': 0}

In [40]:
df_anime.toPandas().to_csv("../dataset/myanimelist-dataset/processed-dataset/anime-dataset-2023.csv", index=False)

## User Details Dataset

In [17]:
df_user.toPandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731290 entries, 0 to 731289
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Mal ID            731290 non-null  int32
 1   Username          731290 non-null  object
 2   Gender            224383 non-null  object
 3   Birthday          168068 non-null  object
 4   Location          152806 non-null  object
 5   Joined            731290 non-null  object
 6   Days Watched      731272 non-null  float32
 7   Mean Score        731281 non-null  float32
 8   Watching          731282 non-null  float32
 9   Completed         731282 non-null  float32
 10  On Hold           731282 non-null  float32
 11  Dropped           731282 non-null  float32
 12  Plan to Watch     731282 non-null  float32
 13  Total Entries     731282 non-null  float32
 14  Rewatched         731282 non-null  float32
 15  Episodes Watched  731282 non-null  float32
dtypes: float32(10), int32(1), object(5)
memory usage: 58.6+ MB

In [18]:
dict_null = { col : df_user.filter(df_user[col].isNull()).count() for col in df_user.columns }
dict_null

{'Mal ID': 0,
 'Username': 0,
 'Gender': 506907,
 'Birthday': 563222,
 'Location': 578484,
 'Joined': 0,
 'Days Watched': 18,
 'Mean Score': 9,
 'Watching': 8,
 'Completed': 8,
 'On Hold': 8,
 'Dropped': 8,
 'Plan to Watch': 8,
 'Total Entries': 8,
 'Rewatched': 8,
 'Episodes Watched': 8}

In [19]:
user_entry_null_ids = df_user.filter(df_user['Total Entries'].isNull()).select('Mal ID').collect()
user_entry_null_ids = [int(user_id[0]) for user_id in user_entry_null_ids]
user_entry_null_ids

[8682, 79090, 125668, 160113, 231825, 232646, 277237, 561555]

In [20]:
user_entry_null_rating_count = df_score.filter(df_score['user_id'].isin(user_entry_null_ids)).count()
all_ratings_count = df_score.count()
print("Number of ratings of user with null entry: ", user_entry_null_rating_count, " ==> ", user_entry_null_rating_count / all_ratings_count * 100)

Number of ratings of user with null entry:  330  ==>  0.001356618330355556

In [21]:
df_user = df_user.filter(df_user['Mal ID'].isin(user_entry_null_ids) == False)
df_user.count()

731282

In [22]:
dict_null = { col : df_user.filter(df_user[col].isNull()).count() for col in df_user.columns }
dict_null

{'Mal ID': 0,
 'Username': 0,
 'Gender': 506907,
 'Birthday': 563220,
 'Location': 578482,
 'Joined': 0,
 'Days Watched': 10,
 'Mean Score': 1,
 'Watching': 0,
 'Completed': 0,
 'On Hold': 0,
 'Dropped': 0,
 'Plan to Watch': 0,
 'Total Entries': 0,
 'Rewatched': 0,
 'Episodes Watched': 0}

In [23]:
df_user.toPandas().to_csv("../dataset/myanimelist-dataset/processed-dataset/users-details-2023.csv", index=False)

## User Score Dataset

In [24]:
# Count number of null values in each column
dict_null = { col : df_score.filter(df_score[col].isNull()).count() for col in df_score.columns }
dict_null

{'user_id': 0, 'Username': 0, 'anime_id': 0, 'Anime Title': 0, 'rating': 3127}

In [25]:
df_score.filter(df_score['rating'].isNull()).show()

+-------+---------------+--------+--------------------+------+
|user_id|       Username|anime_id|         Anime Title|rating|
+-------+---------------+--------+--------------------+------+
|    357|         zhambi|   31630|"Gyakuten Saiban:...|  NULL|
|    433|    SleepySmore|   31630|"Gyakuten Saiban:...|  NULL|
|    433|    SleepySmore|   37490|"Gyakuten Saiban:...|  NULL|
|    651|          Artic|   31630|"Gyakuten Saiban:...|  NULL|
|    791|      Kuisanagi|   31630|"Gyakuten Saiban:...|  NULL|
|    835|    Night_Demon|   31630|"Gyakuten Saiban:...|  NULL|
|    840| Dragon_Empress|   31630|"Gyakuten Saiban:...|  NULL|
|    840| Dragon_Empress|   37490|"Gyakuten Saiban:...|  NULL|
|    859|        Sora_Li|   31630|"Gyakuten Saiban:...|  NULL|
|    916|thesundaywriter|   31630|"Gyakuten Saiban:...|  NULL|
|   1031|   lugiastrikes|   31630|"Gyakuten Saiban:...|  NULL|
|   1125|      Hechizero|   31630|"Gyakuten Saiban:...|  NULL|
|   1125|      Hechizero|   37490|"Gyakuten Saiban:...|  NULL|
|   1185|     AngelIvory|   37490|"Gyakuten Saiban:...|  NULL|
|   1185|     AngelIvory|   31630|"Gyakuten Saiban:...|  NULL|
|   1336|      otaku1699|   31630|"Gyakuten Saiban:...|  NULL|
|   1475|       otaku515|   31630|"Gyakuten Saiban:...|  NULL|
|   1554|        GokuH12|   31630|"Gyakuten Saiban:...|  NULL|
|   1554|        GokuH12|   37490|"Gyakuten Saiban:...|  NULL|
|   1696|        Miyarin|   31630|"Gyakuten Saiban:...|  NULL|
+-------+---------------+--------+--------------------+------+
only showing top 20 rows

In [26]:
df_score = df_score.na.drop(subset=['rating'])

In [27]:
df_score = df_score.filter(df_score['user_id'].isin(user_entry_null_ids) == False)

In [28]:
df_score.count()

24321734

In [29]:
# Count number of null values in each column
dict_null = { col : df_score.filter(df_score[col].isNull()).count() for col in df_score.columns }
dict_null

{'user_id': 0, 'Username': 0, 'anime_id': 0, 'Anime Title': 0, 'rating': 0}

In [31]:
df_score.coalesce(1).write.option("header", True).csv("../dataset/myanimelist-dataset/processed-dataset/users-score-2023.csv")

# Data Vizualization

## Anime dataset

In [32]:
# Count anime by type
test_df = df_anime.groupBy('Type').count()
test_df.show()

+-------+-----+
|   Type|count|
+-------+-----+
|     TV| 7597|
|Special| 2558|
|UNKNOWN|   74|
|    OVA| 4076|
|  Music| 2686|
|  Movie| 4381|
|    ONA| 3533|
+-------+-----+

In [33]:
test_df.select(F.collect_list('count')).first()[0]

[7597, 2558, 74, 4076, 2686, 4381, 3533]

In [34]:
# Count the number of anime titles by type
type_counts = df_anime.groupBy('Type').count()
types = type_counts.select(F.collect_list('Type')).first()[0]
count_by_types = type_counts.select(F.collect_list('count')).first()[0]

# Create a bar chart
fig = px.bar(x=types, y=count_by_types, color=types, labels={'x':'Anime Type', 'y':'Count'}, 
             title='Count of Anime Titles by Type')

fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed